.center {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%); 
 }

 .inner-arc {
    width: 62px;
    height: 62px;
}
.inner-arc_start-a {
    border-color: transparent transparent transparent green;
    /* NOTE: the order here very much matters! */
    transform: translate(-50%, -50%) rotate(0deg); 
}
.inner-arc_end-a {
    border-color: red transparent transparent transparent;
    transform: translate(-50%, -50%) rotate(0deg);
}